/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-mini {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// Body background
body {
  background: linear-gradient(114deg, $green, $blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#inside-container {
  background: $white;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin-bottom: 30px;
  margin-top: 92px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 495px) {
  #content {
    align-items: baseline;
  }
}

// Bootstrap override
.progress {
  border-radius: 30px;

  & .progress-bar {
    box-shadow: none;
  }
}
