/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-mini {
  padding-top: 1em;
  padding-bottom: 1em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// Body background
body {
  background: linear-gradient(114deg, $green, $blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inside-container {
  background: $white;
  width: 90%;
  height: 90vh;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

#content {
  position: absolute;
  overflow: scroll;
  top: 50px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 495px) {
  #content {
    align-items: baseline;
  }
}
