<div id="business-card">
  <div class="profil">
    <div class="description">
      <div class="identity">
        <%= image_tag 'germain-loret.jpg', class: 'avatar' %>
        <div>
          <h1>Germain Loret</h1>
          <h2>Developpeur web fullstack Ruby on Rails</h2>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-3"><span class="tag">Age</span></div>
        <div class="col-xs-9"><%= age_calculator(data.cv.birthday[0],data.cv.birthday[1],data.cv.birthday[2]) %> ans</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><span class="tag">Adresse</span></div>
        <div class="col-xs-9"><%= data.cv.address %></div>
      </div>
      <div class="row">
        <div class="col-xs-3"><span class="tag">Technos</span></div>
        <div class="col-xs-9">
          <% data.skills.each do |skill| %>
              <span class="techno"><%= skill.last["name"] %></span>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"><span class="tag">Statut</span></div>
        <div class="col-xs-9"><span class="statut">Disponible</span></div>
      </div>
    </div>
  </div>
  <div class="links">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/germainloret/">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/grmnlrt">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
