<div id="business-card">
  <div class="profil">
    <%= image_tag 'germain-loret.jpg' %>
    <div class="description">
      <h1>Germain Loret</h1>
      <h2>Developpeur web fullstack Ruby on Rails</h2>
      <hr>
      <div class="row">
        <div class="col-xs-3"><span>Age</span></div>
        <div class="col-xs-9"><%= age_calculator(07,02,1990) %> ans</div>
      </div>
      <div class="row padded-mini">
        <div class="col-xs-3"><span>Ville</span></div>
        <div class="col-xs-9">Paris</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><span>Statut</span></div>
        <div class="col-xs-9">Disponible</div>
      </div>
    </div>
  </div>
  <div class="links">
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
