<div class="menu-content">
  <div class="bg-nav"></div>
  <nav>
    <div class="menu-toggle">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
    <ul role="navigation">
      <li class="text-center">
        <%= link_to "Home", "/" %>
      </li>
      <li class="text-center">
        <%= link_to "Mon CV", "/cv.html" %>
      </li>
      <li class="text-center">
        <%= link_to "Me contacter", "/contact.html" %>
      </li>
    </ul>
  </nav>
</div>
