<div class="menu-content">
  <div class="menu-toggle">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <nav>
    <ul role="navigation" class="hidden" >
      <li>Mon profil</li>
      <li>Portfolio</li>
      <li>Me contacter</li>
    </ul>
  </nav>
</div>
