<div class="menu-content">
  <div class="menu-toggle">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <nav>
    <ul role="navigation" class="mask" >
      <li class="text-center"><a href="/">Mon profil</a></li>
      <li class="text-center"><a href="/">Portfolio</a></li>
      <li class="text-center"><a href="/">Me contacter</a></li>
    </ul>
  </nav>
</div>
