---
title: Germain Loret - Développeur FullStack Ruby on Rails
---

<div class="text-center padded">
  <h1>Développeur FullStack Ruby on Rails</h1>
  <% data.education.each do |degree, education| %>
    <p><%= education.degree_name %></p>
  <% end %>
</div>
